/* Variables */
$green: #e4ede0;
$green-alt: darken($green, 15%);

$blue: #dfd7ed;
$blue-alt: darken($blue, 15%);

$red: #eddfdf;
$red-alt: darken($red, 15%);

/* reset all style */
* {
  margin:0;
  padding:0;
}

html {
  font-size: 62.5%;  // 62.5% of default font value: 16 * .625 = 10 pixels because 16 pixel is the default font value
}

body {
    background: #f2f2f2;
    color: #555555;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
}

input, button, select {
  font-size: 1.3rem;
}

h1 {
  font-weight: 300;
  font-size: 2.4rem; //relative root em instead of pixel === 24 pixel
}

@import './components/title-bar';
@import './components/wrapper';
@import './components/item';
@import './components/button';
@import './components/player';
@import './components/form';
